<!DOCTYPE html>
<html>
<head>
  <title>TaskLion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Home", '/#/' %>
<% if signed_in? %>
  <%= link_to "Account", account_url %>
  <% else %>
  <%= link_to "Sign up", new_user_url %>
  <%= link_to "How it works", root_url %>
  <%= link_to "Log in", new_session_url %>
<% end %>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
  <%= error %>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
